@import './variables';
@import './accordian.scss';
@import './card.scss';
@import './card';
@import './detailed';
@import './detailview';
@import'./features';
@import './footer-card';
@import './footer';
@import './grey-view';
@import './grey';
@import './header-mobile';
@import './header';
@import './hero';
@import './hero2';
@import './purpose';
@import './reviews';
@import './signup-card';
@import './stepper';

.app {
    // margin: 0 5%;
    display: flex;
    flex-direction: column;

    .blue {
        background-color: $blue;
        padding: 5%;
    }
}