@import './variables';

.stepper-cont {

    @include fleX(column);
    // width: 1252px;
    gap: 30px;
    margin: 2% 10%;
    align-items: center;
    background-color: $primary-color;
    // border :1px solid black;
    border-radius: 1%;
    // margin: 2% auto;
    padding: 5% 10%;
    // gap: 10%;
    justify-content: space-between;

    .end-text {
        font-size: $font-size-base;
        line-height: 32px;
        font-weight: 400;
        text-align: center; 
        }
    .steppers {
        @include fleX(row);
        width: 100%;
        align-items: center;
        justify-content: space-evenly;

        @include mobile {
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 20px;
        }
    
        .stepper {
            @include fleX(column);
            gap: 10px;

        .step-card {
            position: relative;
                width: 100%; // 

                img{
                    width: 100%; // Adjust the width of the image as needed
                        display: block;
                }

                .title {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white; // Set the text color as needed
                    font-size: 18px; // Set the font size as needed
                    text-align: center;
                    z-index: 1;
                    font-size: 18px;
                    width: 100%;
                }
        }
            .title {
                font-size: $font-size-base;
                font-weight: 500;

                @include mobile {
                    font-size: 16px;
                }
            }
    
            .num {
                color: $primary-color;
                background-color: $text-color;
                width: 45px;
                @include fleX(row);
                height: 45px;
                border-radius: 100%;
                justify-content: center;
                text-align: center;
                align-items: center;

                @include mobile {
                    font-size: 12px;
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }
}
